<div [ngClass]="gridClass" class="gap-8">
  <ng-container *ngFor="let _ of skeletons">
    <div class="card mb-0 min-h-[10rem]">
      <div class="flex justify-between mb-4">
        <div>
          <p-skeleton width="6rem" class="mb-2" />
          <p-skeleton width="4rem" height="1.5rem" />
        </div>
        <div
          class="flex items-center justify-center rounded-border"
          [ngStyle]="{ width: iconSize, height: iconSize }"
        >
          <p-skeleton shape="circle" [width]="iconSize" [height]="iconSize" />
        </div>
      </div>
      <p-skeleton width="30%" class="mb-2" />
      <p-skeleton width="100%" class="mb-2" />
      <p-skeleton width="100%" class="mb-2" />
    </div>
  </ng-container>
</div>
