<p-toast
  [showTransitionOptions]="'250ms'"
  [showTransformOptions]="'translateX(100%)'"
  [hideTransitionOptions]="'150ms'"
  [hideTransformOptions]="'translateX(100%)'"
/>

<div
  class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-col items-center justify-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
      "
    >
      <div
        class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20"
        style="border-radius: 53px"
      >
        <div class="text-center mb-8">
          <i class="pi pi-ticket text-yellow-400 !text-8xl"></i>
          <!-- <img src="/images/ticket.png" alt="logo" class="mx-auto" /> -->
          <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">
            Bienvenido
          </div>
          <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">
            Sistema de Tickets
          </div>
          <span class="text-muted-color font-medium">Inicia sesión para continuar.</span>
        </div>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
          <div>
            <!-- <label
              for="email1"
              class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
              >Número de empleado:</label
            > -->
            <div class="mt-8">
              <p-floatlabel variant="on">
                <p-iconfield>
                  <p-inputicon class="pi pi-user" />
                  <input
                    pInputText
                    id="email1"
                    type="text"
                    class="w-full md:w-120"
                    formControlName="UserName"
                    pKeyFilter="int"
                  />
                </p-iconfield>
                <label for="email1">Número de empleado</label>
              </p-floatlabel>
              <p-message
                *ngIf="
                  formLogin.get('UserName')?.hasError('required') &&
                  formLogin.get('UserName')?.touched
                "
                severity="error"
                variant="simple"
                size="small"
                >El número de empleado es obligatorio.</p-message
              >

              <p-message
                *ngIf="
                  formLogin.get('UserName')?.hasError('pattern') &&
                  formLogin.get('UserName')?.touched
                "
                severity="error"
                variant="simple"
                size="small"
                >El número de empleado sólo debe contener números.</p-message
              >
            </div>
            <div class="mt-8">
              <p-floatlabel variant="on">
                <p-icon-field>
                  <p-inputIcon class="pi pi-key" />
                  <p-password
                    id="password1"
                    formControlName="Password"
                    [toggleMask]="true"
                    styleClass="mb-0"
                    [fluid]="true"
                    [feedback]="false"
                  ></p-password>
                </p-icon-field>
                <label for="password1">Contraseña</label>
              </p-floatlabel>
              <p-message
                *ngIf="
                  formLogin.get('Password')?.hasError('required') &&
                  formLogin.get('Password')?.touched
                "
                severity="error"
                variant="simple"
                size="small"
                >La contraseña es obligatoria.</p-message
              >
            </div>

            <!-- <div class="flex items-center justify-between mt-2 mb-8 gap-8">
               <div class="flex items-center">
                                    <p-checkbox [(ngModel)]="checked" id="rememberme1" binary class="mr-2"></p-checkbox>
                                    <label for="rememberme1">Recordarme</label>
                                </div>
              <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary"
                >¿Olvidaste tu contraseña?</span
              >
            </div> -->
            <p-button
              type="submit"
              label="Iniciar sesión"
              [loading]="loading"
              styleClass="w-full mt-8"
              (onClick)="load()"
              icon="pi pi-sign-in"
            ></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
