<div class="card">
  <div class="font-semibold text-2xl text-primary mb-5">Captura de solicitud</div>
  <div class="flex flex-col gap-6 w-full">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 w-full">
      <div class="w-full">
        <p-floatlabel class="w-full">
          <p-select
            [(ngModel)]="selectedAreaServicioValue"
            inputId="selAreaServicio"
            [options]="opcionesAreaServicio()"
            optionLabel="name"
            class="w-full"
            [showClear]="true"
            (onChange)="onAreaServicioChange()"
            emptyFilterMessage="Sin resultados"
            emptyMessage="Sin resultados"
          />
          <label for="selAreaServicio">Área de servicio</label>
        </p-floatlabel>
      </div>

      <div class="w-full">
        <p-floatlabel class="w-full">
          <p-select
            [(ngModel)]="selectedSolicitudValue"
            inputId="selTipoSolicitud"
            [options]="opcionesTipoSolicitud()"
            optionLabel="name"
            class="w-full"
            [showClear]="true"
            [disabled]="isTipoSolicitudDisabled()"
            emptyFilterMessage="Sin resultados"
            emptyMessage="Sin resultados"
            (onChange)="onTipoSolicitudChange()"
          />
          <label for="selTipoSolicitud">Tipo de solicitud</label>
        </p-floatlabel>
      </div>

      <div class="w-full">
        <p-floatlabel class="w-full">
          <p-select
            [(ngModel)]="selectedUnidadNegocioValue"
            inputId="selUnidadNegocio"
            [options]="opcionesUnidadNegocio()"
            optionLabel="name"
            class="w-full"
            [showClear]="true"
            [disabled]="isUnidadNegocioDisabled()"
            emptyFilterMessage="Sin resultados"
            emptyMessage="Sin resultados"
            (onChange)="onUnidadNegocioChange()"
          />
          <label for="selUnidadNegocio">Unidad de negocio</label>
        </p-floatlabel>
      </div>

      <div class="w-full">
        <p-floatlabel class="w-full">
          <p-select
            [(ngModel)]="selectedRequerimientoValue"
            inputId="selIncidente"
            [options]="opcionesRequerimiento()"
            optionLabel="name"
            class="w-full"
            [showClear]="true"
            [disabled]="isRequerimientoDisabled()"
            emptyFilterMessage="Sin resultados"
            emptyMessage="Sin resultados"
            (onChange)="onRequerimientoChange()"
          />
          <label for="selIncidente">Incidente o requerimiento</label>
        </p-floatlabel>
      </div>
    </div>
    @if (isEquipoVisible()) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 w-full">
      <div class="w-full">
        <p-floatlabel class="w-full">
          <p-select
            [(ngModel)]="selectedEquipoValue"
            inputId="selEquipo"
            [options]="opcionesEquipo()"
            optionLabel="name"
            class="w-full"
            [showClear]="true"
            emptyFilterMessage="Sin resultados"
            emptyMessage="Sin resultados"
          />
          <label for="selEquipo">Equipo afectado</label>
        </p-floatlabel>
      </div>
    </div>
    } @if(isReferenteVisible()){
    <div class="text-md">Referente a:</div>
    <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
      @for(item of opcionesReferente(); track item.code){
      <div class="flex items-center">
        <p-radiobutton
          [id]="'rb-' + item.code"
          name="referenteGroup"
          [value]="item.code"
          [(ngModel)]="selectedReferenteValue"
        />
        <label [for]="'rb-' + item.code" class="leading-none ml-2">{{ item.name }}</label>
      </div>
      }
    </div>
    } @if(isCuerpoVisible()){
    <div class="flex flex-col gap-1 w-full">
      <div class="font-semibold text-2xl text-primary mt-5 mb-5">Cobro por SPPI</div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 w-full">
        <div class="w-full md:col-span-2 lg:col-span-2">
          <p-floatlabel class="w-full">
            <p-select
              [(ngModel)]="selectedCecoValue"
              inputId="selCeco"
              [options]="opcionesCeco()"
              optionLabel="name"
              class="w-full"
              [showClear]="true"
              emptyFilterMessage="Sin resultados"
              emptyMessage="Sin resultados"
            />
            <label for="selIncidente">CeCo. de Facturación</label>
          </p-floatlabel>
        </div>
      </div>
      <small class="p-d-block text-gray-500">
        Nota: El cobro se hará por el número de horas que se dediquen a la atención de tu orden de
        trabajo
      </small>
    </div>
    <div class="flex flex-col gap-6 w-full">
      <div class="font-semibold text-2xl text-primary mt-5">Descripción de la solicitud</div>
      <div class="w-full">
        <p-editor [(ngModel)]="plantilla" [style]="{ height: '320px' }" />
      </div>
    </div>
    }
  </div>
</div>
@if(isCuerpoVisible()){
<div class="card">
  <div class="flex flex-col gap-1 w-full">
    <div class="font-semibold text-2xl text-primary">Adjuntar archivos</div>
    <small class="p-d-block text-gray-500 w-full">
      ¿Quieres agregar algún archivo con el detalle de tu solicitud? Agregalos aqui.
    </small>
    <p-toast />
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-full lg:col-span-6">
        <p-fileupload
          chooseLabel="Adjuntar"
          cancelLabel="Cancelar"
          [multiple]="true"
          accept=""
          maxFileSize="1000000"
          mode="advanced"
          [showUploadButton]="false"
          ,
          (onSelect)="onAdjuntarArchivo($event)"
        >
          >
          <ng-template
            #content
            let-files
            let-uploadedFiles="uploadedFiles"
            let-removeFileCallback="removeFileCallback"
            let-removeUploadedFileCallback="removeUploadedFileCallback"
          >
            <div class="flex flex-col gap-8 pt-4">
              <div *ngIf="files?.length > 0">
                <div class="flex flex-wrap gap-4">
                  <div
                    *ngFor="let file of files; let index = index"
                    class="p-2 rounded-border flex flex-row justify-between items-center border border-surface gap-4 w-full"
                  >
                    <span
                      class="text-sm font-semibold text-ellipsis whitespace-nowrap overflow-hidden"
                      >{{ file.name }} {{ formato(file.size) }}</span
                    >

                    <p-button
                      icon="pi pi-times"
                      (click)="onRemoverArchivo($event, file, removeFileCallback, index)"
                      [outlined]="true"
                      [rounded]="true"
                      severity="danger"
                    />
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-fileupload>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="flex flex-col gap-1 w-full">
    <div class="font-semibold text-2xl text-primary">Auditores solicitantes</div>
    <div class="flex justify-end w-full">
      <p-button
        (click)="mostrarDialogoUsuarios()"
        icon="pi pi-plus"
        label="Agregar auditor"
        styleClass="text-primarymin-w-40"
      />
    </div>

    <div class="flex items-center flex-col sm:flex-row mt-5">
      <div class="grid grid-cols-1 md:grid-cols-3">
        <p-chip
          *ngFor="let auditor of selectedAuditorValue()"
          [label]="auditor.code + ' - ' + auditor.name"
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          styleClass="m-1"
          [removable]="true"
          (onRemove)="eliminarAuditor(auditor)"
        ></p-chip>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-end w-full">
  <p-button
    (onClick)="onInsertarTicket()"
    icon="pi pi-send"
    label="Enviar"
    styleClass="text-primarymin-w-40"
  />
</div>
}

<!-----------------------------------------dialogos------------------------------------->

<p-dialog
  header="Agregar auditores solicitantes"
  [(visible)]="visible"
  [style]="{ width: '35rem' }"
  [modal]="true"
  (onHide)="limpiarModal()"
>
  <div class="flex justify-center gap-4 mb-10 mt-4">
    <p-floatlabel class="w-full" variant="on">
      <p-autoComplete
        id="autoAuditor"
        [(ngModel)]="selectedAuditorValueTemp"
        [suggestions]="opcionesAuditoresFiltradas()"
        (completeMethod)="buscarAuditor($event)"
        [style]="{ width: '100%' }"
        inputStyleClass="w-full"
        optionLabel="name"
        emptyFilterMessage="Sin resultados"
        emptyMessage="Sin resultados"
        [multiple]="true"
        [delay]="100"
        appendTo="body"
      >
        <ng-template let-item pTemplate="item">
          <div class="p-d-flex p-ai-center">
            <span class="p-mr-2">{{ item.code }}</span> -
            <span>{{ item.name }}</span>
          </div>
        </ng-template>

        <ng-template let-item pTemplate="selectedItem">
          {{ item.code }} - {{ item.name }}
        </ng-template>
      </p-autoComplete>

      <label for="autoAuditor">Auditor solicitante</label>
    </p-floatlabel>
  </div>

  <div class="flex justify-end gap-2">
    <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
    <p-button label="Guardar" (click)="visible = false" />
  </div>
</p-dialog>
