<ng-container *ngIf="isLoading; else datosCargados">
  <ng-container *ngFor="let _ of [1, 2, 3, 4, 5]">
    <div class="col-span-12 lg:col-span-6 xl:col-span-3">
      <div class="card mb-0">
        <div class="flex justify-between mb-4">
          <div>
            <p-skeleton width="100%" class="mb-2 font-medium text-xl" />
            <p-skeleton width="100%" class="mb-2 font-medium text-xl" />
          </div>
          <div class="flex items-center justify-center rounded-border">
            <p-skeleton shape="circle" size="4rem" class="mb-2 mr-4" />
          </div>
        </div>
        <p-skeleton width="30%" class="mb-2" />
        <p-skeleton width="100%" class="mb-2" />
        <p-skeleton width="100%" class="mb-2" />
      </div>
    </div>
  </ng-container>
</ng-container>
<ng-template #datosCargados>
  <div *ngFor="let item of totales" class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="block text-muted-color font-medium mb-4">{{ item.fcDescripcion }}</span>
          <div class="font-medium text-xl text-primary">
            {{ item.fnTotal }}
          </div>
        </div>
        <div
          class="flex items-center justify-center rounded-border"
          style="width: 2.5rem; height: 2.5rem"
          [ngClass]="{
            'bg-green-100 dark:bg-green-400/10': item.pkId === 1,

            'bg-blue-100 dark:bg-blue-400/10': item.pkId === 2,

            'bg-teal-100 dark:bg-teal-400/10': item.pkId === 3,

            'bg-red-100 dark:bg-red-400/10': item.pkId === 4,

            'bg-indigo-100 dark:bg-indigo-400/10': item.pkId === 5
          }"
        >
          @if (item.pkId === 1) {

          <i class="pi pi-check-circle text-green-500 text-xl!"></i>
          } @else if (item.pkId === 2) {

          <i class="pi pi-clock text-blue-500 text-xl!"></i>
          } @else if (item.pkId === 3) {

          <i class="pi pi-verified text-teal-500 text-xl!"></i>
          } @else if (item.pkId === 4) {

          <i class="pi pi-times-circle text-red-500 text-xl!"></i>
          }@else if (item.pkId === 5){
          <i class="pi pi-chart-line text-indigo-500 text-xl!"></i>
          }
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- <div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <div class="card mb-0">
    <div class="flex justify-between mb-4">
      <div>
        <span class="block text-muted-color font-medium mb-4">Orders</span>
        <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">152</div>
      </div>
      <div
        class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border"
        style="width: 2.5rem; height: 2.5rem"
      >
        <i class="pi pi-shopping-cart text-blue-500 text-xl!"></i>
      </div>
    </div>
    <span class="text-primary font-medium">24 new </span>
    <span class="text-muted-color">since last visit</span>
  </div>
</div> -->
